hardhat/node_modules
hardhat/artifacts
hardhat/cache
hardhat/deployments/hardhat
hardhat/deployments/localhost
hardhat/deployments/geth
hardhat/deployments/*
hardhat/typechain-types

hardhat/.prettierignore.ci

.env
./.env
./*.env
./.env.*

hardhat/.env
hardhat/*.env
hardhat/.env.*

ops/testnet/.terraform/providers
.idea/
.vscode/
.run/
bin/
vendor/
./data/
.DS_Store

dist/

hive

*.so

data/

notepad.sh