[Unit]
Description=CoopHive V0 Mediator
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="HOME=/app/hive"
EnvironmentFile=/app/hive/mediator.env
Environment="SERVICE_SOLVER=0xd4646ef9f7336b06841db3019b617ceadf435316"
Restart=always
RestartSec=5s
ExecStart=/usr/bin/hive mediator

[Install]
WantedBy=multi-user.target
