[Unit]
Description=CoopHive V0 Resource Provider
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="DEBUG=true"
Environment="HOME=/app/coophive"
EnvironmentFile=/app/coophive/.env
Restart=always
RestartSec=5s
ExecStart=/usr/bin/hive resource-provider

[Install]
WantedBy=multi-user.target
