[Unit]
Description=CoopHive V0 Solver
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="HOME=/app/hive"
EnvironmentFile=/app/hive/solver.env
Environment="SERVER_PORT=80"
Environment="SERVER_URL=http://testnet.co-ophive.network"
Restart=always
RestartSec=5s
ExecStart=/usr/bin/hive solver

[Install]
WantedBy=multi-user.target
